<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top stations</key>
	<array>
		<dict>
			<key>id</key>
			<integer>3141</integer>
			<key>countryName</key>
			<string>USA</string>
			<key>countryCode</key>
			<string>US</string>
			<key>name</key>
			<string>KQED Public Radio</string>
			<key>website_url</key>
			<string>http://www.kqed.org</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>3999</integer>
					<key>name</key>
					<string>KQED Public Radio</string>
					<key>genres</key>
					<array/>
					<key>streams</key>
					<array>
						<dict>
							<key>id</key>
							<integer>7900</integer>
							<key>url</key>
							<string>http://streams.kqed.org/kqedradio.m3u</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>3546</integer>
			<key>description</key>
			<string>Top Hit Music</string>
			<key>countryName</key>
			<string>USA</string>
			<key>countryCode</key>
			<string>US</string>
			<key>name</key>
			<string>Z100 New York</string>
			<key>website_url</key>
			<string>www.z100.com/</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>4544</integer>
					<key>name</key>
					<string>Z100 New York</string>
					<key>genres</key>
					<array>
						<dict>
							<key>id</key>
							<integer>5</integer>
							<key>name</key>
							<string>Top 40/ Pop</string>
						</dict>
					</array>
					<key>streams</key>
					<array>
						<dict>
							<key>id</key>
							<integer>8452</integer>
							<key>url</key>
							<string>http://188.93.17.201:8000/test</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>8304</integer>
			<key>countryName</key>
			<string>USA</string>
			<key>countryCode</key>
			<string>US</string>
			<key>name</key>
			<string>KIIS-FM</string>
			<key>website_url</key>
			<string></string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>9514</integer>
					<key>name</key>
					<string>KIIS-FM</string>
					<key>genres</key>
					<array>
						<dict>
							<key>id</key>
							<integer>5</integer>
							<key>name</key>
							<string>Top 40/ Pop</string>
						</dict>
					</array>
					<key>streams</key>
					<array>
						<dict>
							<key>id</key>
							<integer>13406</integer>
							<key>url</key>
							<string>http://kiis-fm.akacast.akamaistream.net/7/572/19773/v1/auth.akacast.akamaistream.net/kiis-fm</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>3465</integer>
			<key>countryName</key>
			<string>USA</string>
			<key>countryCode</key>
			<string>US</string>
			<key>name</key>
			<string>WFMU-FM 91.1</string>
			<key>website_url</key>
			<string>http://www.wfmu.org/</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>4434</integer>
					<key>name</key>
					<string>WFMU</string>
					<key>genres</key>
					<array/>
					<key>streams</key>
					<array>
						<dict>
							<key>id</key>
							<integer>8341</integer>
							<key>url</key>
							<string>http://wfmu.org/wfmu.pls</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>3050</integer>
			<key>countryName</key>
			<string>USA</string>
			<key>countryCode</key>
			<string>US</string>
			<key>name</key>
			<string>KEXP</string>
			<key>website_url</key>
			<string>http://kexp.org/</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>3904</integer>
					<key>name</key>
					<string>KEXP 90.3 FM</string>
					<key>genres</key>
					<array>
						<dict>
							<key>id</key>
							<integer>19</integer>
							<key>name</key>
							<string>Alternative Rock</string>
						</dict>
						<dict>
							<key>id</key>
							<integer>21</integer>
							<key>name</key>
							<string>Indie</string>
						</dict>
					</array>
					<key>streams</key>
					<array>
						<dict>
							<key>id</key>
							<integer>7803</integer>
							<key>url</key>
							<string>http://live-mp3-128.kexp.org:8000/listen.pls</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>3982</integer>
			<key>countryName</key>
			<string>Denmark</string>
			<key>countryCode</key>
			<string>DK</string>
			<key>name</key>
			<string>DR P2 Klassisk </string>
			<key>website_url</key>
			<string>http://www.dr.dk/p2/</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>4977</integer>
					<key>name</key>
					<string>DR P2 Klassisk </string>
					<key>genres</key>
					<array/>
					<key>streams</key>
					<array>
						<dict>
							<key>id</key>
							<integer>8885</integer>
							<key>url</key>
							<string>http://live-icy.gss.dr.dk:8000/A/A04H.mp3</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>3410</integer>
			<key>description</key>
			<string>World Jazz radio</string>
			<key>countryName</key>
			<string>USA</string>
			<key>countryCode</key>
			<string>US</string>
			<key>name</key>
			<string>Jazz88 FM NPR</string>
			<key>website_url</key>
			<string>http://www.wbgo.org/</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>4372</integer>
					<key>name</key>
					<string>Jazz88 FM NPR</string>
					<key>genres</key>
					<array>
						<dict>
							<key>id</key>
							<integer>8</integer>
							<key>name</key>
							<string>Jazz</string>
						</dict>
					</array>
					<key>streams</key>
					<array>
						<dict>
							<key>id</key>
							<integer>8276</integer>
							<key>url</key>
							<string>http://wbgo.org/sites/default/files/listennow/wbgo.m3u</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>2750</integer>
			<key>description</key>
			<string>Reveal your madness</string>
			<key>countryName</key>
			<string>Spain</string>
			<key>countryCode</key>
			<string>ES</string>
			<key>name</key>
			<string>Ibiza Global Radio</string>
			<key>website_url</key>
			<string>http://ibizaglobalradio.com</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>3455</integer>
					<key>name</key>
					<string>Ibiza Global Radio</string>
					<key>genres</key>
					<array>
						<dict>
							<key>id</key>
							<integer>13</integer>
							<key>name</key>
							<string>Electro Dance Music</string>
						</dict>
					</array>
					<key>streams</key>
					<array>
						<dict>
							<key>id</key>
							<integer>7307</integer>
							<key>url</key>
							<string>http://ibgr.001.oye.fm:8024/listen.pls</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>3547</integer>
			<key>description</key>
			<string>Rock Station from USA</string>
			<key>countryName</key>
			<string>USA</string>
			<key>countryCode</key>
			<string>US</string>
			<key>name</key>
			<string>Rockland USA - Pure Rock</string>
			<key>website_url</key>
			<string></string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>4545</integer>
					<key>name</key>
					<string>Rockland USA - Pure Rock</string>
					<key>genres</key>
					<array>
						<dict>
							<key>id</key>
							<integer>19</integer>
							<key>name</key>
							<string>Alternative Rock</string>
						</dict>
					</array>
					<key>streams</key>
					<array>
						<dict>
							<key>id</key>
							<integer>8453</integer>
							<key>url</key>
							<string>http://www.live365.com/play/rocklandusa2</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>3293</integer>
			<key>description</key>
			<string>Today&apos;s Best Mix</string>
			<key>countryName</key>
			<string>United Kingdom</string>
			<key>countryCode</key>
			<string>UK</string>
			<key>name</key>
			<string>The Pulse UK</string>
			<key>website_url</key>
			<string>http://www.pulse.co.uk/</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>4208</integer>
					<key>name</key>
					<string>The Pulse UK</string>
					<key>genres</key>
					<array>
						<dict>
							<key>id</key>
							<integer>5</integer>
							<key>name</key>
							<string>Top 40/ Pop</string>
						</dict>
					</array>
					<key>streams</key>
					<array>
						<dict>
							<key>id</key>
							<integer>8111</integer>
							<key>url</key>
							<string>http://webradio.radiomonitor.com/stream/Pulse</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>3076</integer>
			<key>description</key>
			<string>Dance radio Australia</string>
			<key>countryName</key>
			<string>Australia</string>
			<key>countryCode</key>
			<string>AU</string>
			<key>name</key>
			<string>Kiss FM Melbourne</string>
			<key>website_url</key>
			<string>http://www.kissfm.com.au</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>3932</integer>
					<key>name</key>
					<string>Kiss FM Melbourne</string>
					<key>genres</key>
					<array>
						<dict>
							<key>id</key>
							<integer>13</integer>
							<key>name</key>
							<string>Electro Dance Music</string>
						</dict>
						<dict>
							<key>id</key>
							<integer>22</integer>
							<key>name</key>
							<string>Dance</string>
						</dict>
					</array>
					<key>streams</key>
					<array>
						<dict>
							<key>id</key>
							<integer>7831</integer>
							<key>url</key>
							<string>http://www.kissfm.com.au/kissfm_aac.m3u</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
