<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>BuildMachineOSBuild</key>
	<string>18F132</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Free Lossless Audio Codec</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>caf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Core Audio Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aac</string>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Advanced Audio Codec</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Apple Lossless Audio Codec</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp1</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>MPEG I/II Layer 1</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>MPEG I/II Layer 2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>MPEG I/II Layer 3</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>MPEG I/II Layer 4</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ape</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Monkey's Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpc</string>
				<string>mpp</string>
				<string>mp+</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Musepack</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sd2</string>
				<string>l</string>
				<string>r</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Sound Designer II</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>snd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>NeXT/Sun Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aif</string>
				<string>aiff</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Audio Interchange File Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oga</string>
				<string>ogg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Ogg Vorbis</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Speex</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tta</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>True Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Wave</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>WavPack</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>it</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Impulse Tracker Sequenced Module</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mo3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>MO3 Module</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mod</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>ProTracker / FastTracker</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mtm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>MultiTracker Module</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>s3m</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>ScreamTracker 3</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>umx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Unreal Music</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>FastTracker 2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ay</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum, Amstrad CPC</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gbs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Nintendo Game Boy</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gym</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Sega Genesis, Mega Drive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hes</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>NEC TurboGrafx-16, PC Engine</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kss</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>MSX Home Computer, other Z80 systems</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nsf</string>
				<string>nsfe</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Nintendo NES, Famicom</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sap</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Atari systems using POKEY sound chip</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Super Nintendo, Super Famicom</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vgm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Sega Master System, Mark III, Sega Genesis, Mega Drive, BBC Micro</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cue</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>CUE Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m3u</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>M3U Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m3u8</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>M3U Playlist UTF-8</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pls</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>PLS Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xspf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>XSPF Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>opus</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>IETF opus lossy file copressed file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>NSBinaryStoreType</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ra</string>
				<string>rm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>RealMedia Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wma</string>
				<string>asf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Windows Media Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>VOX</string>
	<key>CFBundleIconFile</key>
	<string>AppIconNew</string>
	<key>CFBundleIconName</key>
	<string>AppIconNew</string>
	<key>CFBundleIdentifier</key>
	<string>com.coppertino.Vox</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Vox</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.3.10</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>CFBundleURLName</key>
			<string>com.coppertino.Vox</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.coppertino.vox</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>vk4336402</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vk4336402</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3391.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10E1001</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18E219</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1020</string>
	<key>DTXcodeBuild</key>
	<string>10E1001</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>VXApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open Link in VOX</string>
			</dict>
			<key>NSMessage</key>
			<string>openUrlInVox</string>
			<key>NSPortName</key>
			<string>VOX service</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSTimeout</key>
			<string>120000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>VOX add all music in folder to Playlist</string>
			</dict>
			<key>NSMessage</key>
			<string>appendToPlaylist</string>
			<key>NSPortName</key>
			<string>VOX service</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>VOX clear Playlist and add all music in folder</string>
			</dict>
			<key>NSMessage</key>
			<string>clearAndAddToPlaylist</string>
			<key>NSPortName</key>
			<string>VOX service</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>VOX add to Playlist</string>
			</dict>
			<key>NSMessage</key>
			<string>appendToPlaylistFile</string>
			<key>NSPortName</key>
			<string>VOX service</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.pls-playlist</string>
				<string>public.m3u-playlist</string>
				<string>public.audio</string>
				<string>com.coppertino.vox.xspf</string>
				<string>com.coppertino.vox.cue</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>VOX clear Playlist and add file</string>
			</dict>
			<key>NSMessage</key>
			<string>clearAndAddToPlaylistFile</string>
			<key>NSPortName</key>
			<string>VOX service</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.pls-playlist</string>
				<string>public.m3u-playlist</string>
				<string>public.audio</string>
				<string>com.coppertino.vox.xspf</string>
				<string>com.coppertino.vox.cue</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
		</dict>
	</array>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>OSAScriptingDefinition</key>
	<string>Vox.sdef</string>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://updates.devmate.com/com.coppertino.Vox.xml</string>
	<key>SUPublicDSAKey</key>
	<string>-----BEGIN PUBLIC KEY-----
MIIBtjCCASsGByqGSM44BAEwggEeAoGBAIR7nKxV3LAbj+n+21s1Vwz75MMT4ZUV
dwTWvtnF2Q+5loHgRJcHptMMDGjxsj14rUMu88rSmeTG9t6NVghYIuDuGYHFWtsG
Dn6z/JDCsecoKIXVL/qBA+xL/03oGvzsIb8xPgoPRcHKNPUIz1WiQ0WadIWxUzKR
cJJB5NULEk/7AhUAyOAvTZdwM59ReHRYV++sZVg+krECgYBuvQ3+BpOGFPAwKxfI
MpamwKeypZ/wClSPnCv+ME+gCVOh3kqL/chr3hoZqOV0e4YFR1cnjE4gqwTh3GPQ
l1A4NdZXEeGtZlpO/rqR2hivLgbtUx51FoLqfMuTvmXaSFNVXqzm3s7JMoibt8ZZ
HgmPDxX4m7/2uhs7DHsRo3tjKAOBhAACgYBc3+pnl1sJdQEx/sCBVoLL7DiR5wjP
jWzaZ7LCrqJRhAIXEqvFMD0A4/ZjTdIGrqgvblkR/TtdczePLaJ2Z51KxxGAq+Gg
+YSqiNZWy6JisZHADirTMYFL58EEyoJIVvkUBR5fvG78Sa2bHixoKtw3+ATme38I
vlYuAMMySqSalw==
-----END PUBLIC KEY-----</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.playlist</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Vox PLS Playlist</string>
			<key>UTTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.coppertino.vox.pls</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pls</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-scpls</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.playlist</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Vox M3U Playlist</string>
			<key>UTTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.coppertino.vox.m3u</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>MP3U</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>m3u</string>
					<string>m3u8</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-mpegurl</string>
					<string>audio/mpegurl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.playlist</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XSPF Playlist</string>
			<key>UTTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.coppertino.vox.xspf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xspf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.playlist</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CUE Playlist</string>
			<key>UTTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.coppertino.vox.cue</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cue</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>IETF opus lossy file copressed file</string>
			<key>UTTypeIconFile</key>
			<string>VoxGenericDocumentIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.coppertino.vox.opus</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>opus</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/ogg</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
